#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 640px) {
  .app {
    grid-template-columns: 270px 1fr;
  }
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.6rem;
}
.note-content {
  resize: none;
  width: 100%;
}
.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250ox, auto);
  gap: 20px;
  padding-block: 1.6rem;
}
.note-item {
  border: 2px solid #ddd;
  padding: 1rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}
.note-header {
  background-color: rebeccapurple;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.note-remove {
  border-radius: 0;
}
/* .note-heading {
  color: #fff;
} */
